# Idaho -- City Sustainability

In [1]:
%pip install census us

Requirement already satisfied: census in /Users/agilbert/anaconda3/lib/python3.7/site-packages (0.8.13)
Requirement already satisfied: us in /Users/agilbert/anaconda3/lib/python3.7/site-packages (1.0.0)
Requirement already satisfied: requests>=1.1.0 in /Users/agilbert/anaconda3/lib/python3.7/site-packages (from census) (2.22.0)
Requirement already satisfied: future in /Users/agilbert/anaconda3/lib/python3.7/site-packages (from census) (0.17.1)
Requirement already satisfied: jellyfish==0.5.6 in /Users/agilbert/anaconda3/lib/python3.7/site-packages (from us) (0.5.6)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/agilbert/anaconda3/lib/python3.7/site-packages (from requests>=1.1.0->census) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/agilbert/anaconda3/lib/python3.7/site-packages (from requests>=1.1.0->census) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/agilbert/anaconda3/lib/python3.7/site-packages (from requests>=1.1.0->census) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/agilbert/anaconda3/lib/python3.7/site-packages (from requests>=1.1.0->census) (1.24.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

from census import Census
from us import states

In [3]:
c = Census('fb97753783c42ae57fe1a640e38fe04e921e5d1a')

### Get's the cities in Idaho that have a population greater than 50,000

In [4]:
city_2010 = c.sf1.state_place(('NAME', 'P001001', 'H001001', 'P013001'), states.ID.fips, '*', year=2010)
c_pop_2010 = pd.DataFrame.from_records(city_2010)
c_pop_2010_50000 = c_pop_2010[c_pop_2010['P001001'].astype(int) >= 50000].rename(columns={'P001001': 'Total', 'H001001': 'Total Housing', 'P013001': 'Median Age'})

In [5]:
c_pop_2010_50000

     Total Housing                     NAME   Total  Median Age  place state
20         92700.0   Boise City city, Idaho  205671        35.3  08830    16
97         22977.0  Idaho Falls city, Idaho   56813        32.2  39700    16
128        26674.0     Meridian city, Idaho   75092        32.5  52120    16
143        30507.0        Nampa city, Idaho   81557        30.1  56260    16
166        22404.0    Pocatello city, Idaho   54255        30.2  64090    16

In [6]:
city_2000 = c.sf1.state_place(('NAME', 'P001001', 'H001001', 'P013001'), states.ID.fips, '*', year=2000)
c_pop_2000 = pd.DataFrame.from_records(city_2000)
c_pop_2000_50000 = c_pop_2000[c_pop_2000['P001001'].astype(int) >= 30000].rename(columns={'P001001': 'Total', 'H001001': 'Total Housing', 'P013001': 'Median Age'})

In [7]:
c_pop_2000_50000

    Total Housing                NAME   Total Median Age  place state
1           20627      Pocatello city   51466       28.8  64090    16
2           77850     Boise City city  185787       32.8  08830    16
9           12293       Meridian city   34919       30.1  52120    16
11          19379          Nampa city   51867       28.5  56260    16
51          14929  Coeur d'Alene city   34514       34.8  16750    16
101         19771    Idaho Falls city   50730       32.3  39700    16
116         13394       Lewiston city   30904       37.9  46540    16
192         14162     Twin Falls city   34469       33.8  82810    16

In [8]:
city_joined = pd.merge(c_pop_2000_50000, c_pop_2010_50000, on='place', suffixes=('2000','2010'))

In [9]:
city_joined

,Total Housing2000,NAME2000,Total2000,Median Age2000,place,state2000,Total Housing2010,NAME2010,Total2010,Median Age2010,state2010
0,20627,Pocatello city,51466,28.8,64090,16,22404.0,"Pocatello city, Idaho",54255,30.2,16
1,77850,Boise City city,185787,32.8,08830,16,92700.0,"Boise City city, Idaho",205671,35.3,16
2,12293,Meridian city,34919,30.1,52120,16,26674.0,"Meridian city, Idaho",75092,32.5,16
3,19379,Nampa city,51867,28.5,56260,16,30507.0,"Nampa city, Idaho",81557,30.1,16
4,19771,Idaho Falls city,50730,32.3,39700,16,22977.0,"Idaho Falls city, Idaho",56813,32.2,16

In [10]:
city_joined['Growth'] = city_joined['Total2010'].astype('float64') - city_joined['Total2000'].astype('float64')

In [11]:
city_joined['RelativeGrowth'] = city_joined['Growth']/city_joined['Total2000'].astype('float64')

In [12]:
city_joined['Housing Growth'] = city_joined['Total Housing2010'].astype('float64') - city_joined['Total Housing2000'].astype('float64')

In [13]:
city_joined['Housing Relative Growth'] = city_joined['Housing Growth']/city_joined['Total Housing2000'].astype('float64')

In [14]:
city_joined

,Total Housing2000,NAME2000,Total2000,Median Age2000,place,state2000,Total Housing2010,NAME2010,Total2010,Median Age2010,state2010,Growth,RelativeGrowth,Housing Growth,Housing Relative Growth
0,20627,Pocatello city,51466,28.8,64090,16,22404.0,"Pocatello city, Idaho",54255,30.2,16,2789.0,0.054191,1777.0,0.086149
1,77850,Boise City city,185787,32.8,08830,16,92700.0,"Boise City city, Idaho",205671,35.3,16,19884.0,0.107026,14850.0,0.190751
2,12293,Meridian city,34919,30.1,52120,16,26674.0,"Meridian city, Idaho",75092,32.5,16,40173.0,1.150462,14381.0,1.169853
3,19379,Nampa city,51867,28.5,56260,16,30507.0,"Nampa city, Idaho",81557,30.1,16,29690.0,0.572426,11128.0,0.574230
4,19771,Idaho Falls city,50730,32.3,39700,16,22977.0,"Idaho Falls city, Idaho",56813,32.2,16,6083.0,0.119909,3206.0,0.162157